<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>acupoint</key>
		<string>足少阴</string>
		<key>hour</key>
		<string>酉</string>
	</dict>
	<dict>
		<key>acupoint</key>
		<string>手厥阴</string>
		<key>hour</key>
		<string>戌</string>
	</dict>
	<dict>
		<key>acupoint</key>
		<string>手少阳</string>
		<key>hour</key>
		<string>亥</string>
	</dict>
	<dict>
		<key>acupoint</key>
		<string>足少阳</string>
		<key>hour</key>
		<string>子</string>
	</dict>
	<dict>
		<key>acupoint</key>
		<string>足厥阴</string>
		<key>hour</key>
		<string>丑</string>
	</dict>
	<dict>
		<key>acupoint</key>
		<string>手太阴</string>
		<key>hour</key>
		<string>寅</string>
	</dict>
	<dict>
		<key>acupoint</key>
		<string>手阳阴</string>
		<key>hour</key>
		<string>卯</string>
	</dict>
	<dict>
		<key>acupoint</key>
		<string>足阳阴</string>
		<key>hour</key>
		<string>辰</string>
	</dict>
	<dict>
		<key>acupoint</key>
		<string>足太阴</string>
		<key>hour</key>
		<string>巳</string>
	</dict>
	<dict>
		<key>acupoint</key>
		<string>手太阴</string>
		<key>hour</key>
		<string>午</string>
	</dict>
	<dict>
		<key>acupoint</key>
		<string>手太阳</string>
		<key>hour</key>
		<string>未</string>
	</dict>
	<dict>
		<key>acupoint</key>
		<string>足太阳</string>
		<key>hour</key>
		<string>申</string>
	</dict>
</array>
</plist>
